@font-face {
    font-family: "MazzardL";
    src: url("./fonts/MazzardL-SemiBold.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "MazzardL";
    src: url("./fonts/MazzardL-Regular.otf") format("truetype");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hero-and-footer-background-color: #fae2da;
    --text-color: #1d263a;
    --white-background-color: #fff;
    --dark-blue: #213053;
    --orange-color: #ff794d;
}

body {
    font-family: "MazzardL";
}

.container {
    max-width: 1600px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 40px;
    background-color: var(--white-background-color);
}

/* header */

.navigation {
    width: 1296px;
    height: 30px;
    margin: 0 auto;
}

ul,
li {
    display: inline-block;
    margin-right: 50px;
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--text-color);
    font-weight: 600;
}

.sign_in {
    margin-left: 252px;
}

.logo {
    margin-right: 354px;
}

/* hero section left*/

.hero_section {
    height: 676px;
    border-radius: 30px;
    width: 100%;
    margin-top: 40px;
    background-color: var(--hero-and-footer-background-color);
    display: flex;
    margin-bottom: 100px;
}

.hero_section_left {
    position: relative;
}
.hero_circle {
    height: 313px;
    width: 313px;
    top: 146px;
    left: 249px;
    bottom: 217px;
    position: absolute;
}

.hero_chair {
    width: 434px;
    height: 525px;
    position: absolute;
    top: 75px;
    left: 91px;
    bottom: 76px;
    right: 953px;
}

.hero_section .hero_section_right {
    display: inline-block;
}

.hero_right_side {
    top: 129px;
    right: 177px;
    left: 642px;
    width: 660px;
    position: absolute;
    display: inline-block;
}

.heading_6 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 6px;
    color: var(--orange-color);
    margin-left: 80px;
    margin-bottom: 34px;
    margin-top: 129px;
}

.hero_text1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px; /*110% */
    letter-spacing: -1px;
    color: var(--text-color);
    margin-left: 80px;
    margin-top: 34px;
    margin-bottom: 27px;
}

.hero_text2 {
    /* font-family: "Mazzard"; */
    font-size: 15px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    color: var(--text-color);
    margin-top: 58px;
    margin-left: 80px;
    margin-bottom: 58px;
    width: 495px;
    letter-spacing: 1px;
}

.small_pic {
    margin-right: 25px;
    margin-left: 80px;
}

.hero_text3 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    width: 495px;
    color: var(--text-color);
    display: inline-block;
    letter-spacing: 4px;
}

/* features section */

.features {
    width: 1296px;
    height: 204px;
    margin: 0 auto;
    position: relative;
    margin-left: 152px;
    /* background-color: #ff794d; */
}

.features-1 {
    width: 33.3%;
    display: inline-block;
    position: relative;
    /* background-color: red; */
}

.features_icons {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 7px;
}

.features img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.features_text {
    display: inline-block;
    position: absolute;
}

.features-1,
.features-2,
.features-3 {
    position: relative;
    width: 260px;
}

.features h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /*133.333% */
    letter-spacing: -0.3px;
    margin-left: 37px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.features p {
    width: 260px;
    height: 84px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.800000011920929;
    margin-left: 37px;
    margin-right: 63px;
}

.features-3 {
    width: 33.3%;
    display: inline-block;
    position: relative;
}

.features div {
    display: inline-block;
    vertical-align: top;
}

.features .features-1,
.features-2 {
    margin-right: 100px;
}

.features_lines {
    width: 1296px;
    height: 2px;
    border: 1px dashed var(--text-color);
    margin-top: 6px;
    opacity: 0.17000000178813934;
}

/*product slider */

.slider {
    padding: 0 152px;
    margin-bottom: 140px;
    margin-top: 102px;
    position: relative;
}

.slider .heading-3 {
    margin-bottom: 51px;
}

.arrows {
    position: absolute;
    top: 16px;
    right: 152px;
}

.arrow_right,
.arrow_left {
    width: 25px;
    height: 20px;
}

.arrow_right {
    margin-right: 15px;
}

.slider_images {
    /* position: relative; */
    display: inline-block;
    vertical-align: top;
    object-fit: contain;
    width: calc((100% - 40px) / 3);
    /* height: 100%; */
}

.slider .slider_images:not(:last-child) {
    margin-right: 16px;
}

.design_img {
    height: 680px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.chair-light {
    object-position: 50%;
}

.chair-dark {
    object-position: 75%;
}

.couch {
    object-position: 15%;
}

#slider-last_image {
    position: relative;
}

.price_tag {
    width: 80%;
    height: 115px;
    border-radius: 10px;
    left: 16px;
    bottom: 16px;
    padding: 20px;
    position: absolute;
    background-color: var(--white-background-color);
}

.price_tag span {
    color: var(--orange-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}

#price-tag_text {
    color: var(--text-color);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 10px;
}

.price_tag img {
    width: 20px;
    right: 24px;
    bottom: 24px;
    position: absolute;
}
